@import "tailwindcss";

body {
  background-color: #010208;
}

:root {
  --font-syne: "Syne", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins);
}
.font-syne {
  font-family: var(--font-syne);
}

.tracking-custom {
  letter-spacing: 0.05em;
}
